mixin img
  -
    const src = attributes.src || ''
    const alt = attributes.alt || ''
    const sizes = attributes.sizes || []
    const densities = attributes.densities || []
    const chunks = src.split('.')
    const ext = chunks.pop()
    const pathName = chunks.join()

  if (sizes.length === 0 && ext === 'svg')
    img&attributes(attributes)
  else
    picture
      -
        const srcSetSeparator = ', '
        //- Full size 1x
        let srcSetWebP = [`${pathName}.webp 1x`]
        let srcSetDefault = [`${pathName}.${ext} 1x`]

      if (sizes.length > 0)
        each size in sizes
          -
            const pathSize = `${pathName}--${size}`
            //- Specific size 1x
            let srcSetSizeWebP = [`${pathSize}.webp 1x`]
            let srcSetSizeDefault = [`${pathSize}.${ext} 1x`]

          each density in densities
            -
              //- Full size with density
              const densityPrefix = `${pathName}--${density}`
              srcSetWebP.push(`${densityPrefix}.webp ${density}`)
              srcSetDefault.push(`${densityPrefix}.${ext} ${density}`)
              //- Specific size with density
              const densitySizePrefix = `${pathSize}--${density}`
              srcSetSizeWebP.push(`${densitySizePrefix}.webp ${density}`)
              srcSetSizeDefault.push(`${densitySizePrefix}.${ext} ${density}`)

          //- WebP must appear first before any extension
          source(type= 'image/webp', srcset= srcSetSizeWebP.join(srcSetSeparator), media= '(max-width: ' + size + 'px)')
          source(type= 'image/' + ext, srcset= srcSetSizeDefault.join(srcSetSeparator), media= '(max-width: ' + size + 'px)')

      source(type= 'image/webp', srcset= srcSetWebP.join(srcSetSeparator))

      //- Set the <img> tag fallback. First remove the unwanted attributes to use the simple &attributes(attributes) syntax.
      - attributes.sizes = undefined
      - attributes.densities = undefined
      img(srcset= srcSetDefault.join(srcSetSeparator))&attributes(attributes)
